body {
    background: #574440;
    color: #fff;
    font-family: Consolas, sans-serif;
    font-size: 16px;
}

#wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#words {
    display: flex;
    flex-direction: column;
}

#words > *:not(:first-child) {
    margin-top: 15px;
}

#board-size-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#board-size-fields label {
    line-height: 40px;
}

input {
    height: 25px;
    border-radius: 3px;
    border: none;
    outline: 0;
    background: rgba(175, 179, 135, 0.33);
    color: black;
    box-shadow: 0 2px 10px #000;
}

input[type=text] {
    width: 95%;
    padding: 10px;
    font-size: 20px;
}

input[type=number] {
    width: 40px;
    padding: 5px;
    font-size: 17px;
}

input:focus {
    background: rgba(245, 249, 197, 0.51);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.55);
}

input[type=checkbox] {
    height: 17px;
    width: 17px;
    cursor: pointer;
    border: 1px solid white;
    line-height: 18px;
}

button {
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 5px #000;
    outline: none;
}

.green {
    background: #4bb44e;
}

.green:hover {
    background-color: rgb(85, 223, 88);
}

.red {
    background: rgb(225, 65, 60);
}

.red:hover {
    background: rgb(255, 89, 84);
}

.orange {
    background: #f48015;
}

.orange:hover {
    background: #ff9d40;
}

canvas {
    border: 1px solid black;
    box-shadow: 0 2px 10px #000;
    cursor: pointer;
    visibility: hidden;
    height: 100%;
}

ul {
    padding: 0;
    box-shadow: 0 0 4px #000;
}

li {
    width: 100%;
    background: rgba(172, 176, 129, 0.51);
    list-style-type: none;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #000000;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

li:hover {
    background: rgba(172, 176, 129, .8);
}

li:last-child {
    border-bottom: none;
}
